{% macro order_list(title, orders, section_id) %}
<section>
    <h2>{{ title }}</h2>
    <div id="{{ section_id }}" class="order-list-scroll">
        {% for order in orders %}
            <div class="to_1">
                <img src="{{ url_for('static', filename=order.Image) }}" alt="{{ order.Item }}" width="100">
                <span>{{ order.Brand }}</span>
                <h5>{{ order.Item }}</h5>
                <div class="to_1-footer">
                    <h4>${{ order.Price }}</h4>
                  <form action="{{ url_for('add_to_cart', product_id=order.ProductId) }}" method="POST">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-shopping-cart"></i> 
                    </button>
                </form>

                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endmacro %}