<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeePal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" type="text/css">
</head>
<body>
    <header>
        <div class="top_bar">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo">
            <img src="{{ url_for('static', filename='user.jpg') }}" alt="user" class="user" onclick="toggleMenu()">
            <div class="sub_menu_wrap" id="subMenu">
                <div class="sub_menu">
                    <div class="user_info">
                        <img  src="{{ url_for('static', filename='user.jpg') }}" alt="user">
                        <h3>James Aldrino</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='profile.png') }}">
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='setting.png') }}">
                        <p>Settings & Privacy</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='help.png') }}">
                        <p>Help & Support</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='logout.png') }}">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
        <nav>
            <div class="navdiv">
                <div class="search_bar">
                    <input type="text" placeholder="Search...">
                    <i class="fa fa-search"></i>
                </div>
                <div class="nav_buttons">
                    <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Saved</a></li>
                    <li><a href="#">Shopping Cart</a></li>
                    <li><a href="#">Orders</a></li>
                    </ul>
                </div>
            </div>
        </nav>
           
        
      
    </header>
    <main>
       
     
        <section id="trending_orders">
              <h2>Trending Orders</h2>  
            {% for order in trending_orders %}
                <div class="to_1">
                    <img src="{{ url_for('static', filename=order.image) }}" alt="{{ order.item }}" width="100">
                    <span>{{order.brand}}</span>
                    <h5>{{ order.item }}</h5>
                    <h4>${{ order.price }}</h4>
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </div>
            {% endfor %}
        </section>
        <section>
            <div class="section-title">Recent Orders</div>
            <div class="grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </section>
        <section>
            <div class="section-title">My Orders</div>
            <div class="grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </section>
    </main>
    <footer>
        Footer
    </footer>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
